.home-container{
    width: 100vw;
    height: 100vh;
}

app-sidenav{
    width: 30vw;
    height: 85vh;
    background-color: burlywood;
}

main{
    width: 70vw;
    height: 85vh;
    background-color: cadetblue;
}
